/* FONTS */

@font-face {
    font-family: 'Poppins';
    src: url('./fonts/Poppins-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('./fonts/Poppins-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('./fonts/Poppins-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

/* RESET */

*,
*::before,
*::after {
    box-sizing: border-box;
}

:where(ul, ol):where([class]) {
    padding-left: 0;
}

body,
:where(blockquote, figure):where([class]) {
    margin: 0;
}

:where(h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    ul,
    ol,
    dl):where([class]) {
    margin-block: 0;
}

:where(dd[class]) {
    margin-left: 0;
}

:where(ul[class]) {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
button,
a,
input,
inputArea,
li,
ul,
body {
    padding: 0;
    margin: 0;
}

button,
select,
input,
inputArea,
a {
    text-decoration: inherit;
    font: inherit;
    color: inherit;
    transition-duration: var(--transition-duration);
}

/* COMPONENTS */

:root {
    --color-dark: #190422;
    --color-light: #FFFFFF;
    --color-accent-light: #d7b9fd;
    --color-accent-dark: #BC8AFC;

    --color-shadow: rgba(0, 0, 0, 0.25);
    --color-font-light: #FFFFFF;
    --color-font-light-accent: #dcdcdc;
    --color-font-dark: #000000;

    --font-family-base: 'Poppins', sans-serif;

    --shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

    --transition-duration: 0.2s;
}

.visually-hidden {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    margin: -1px !important;
    border: 0 !important;
    padding: 0 !important;
    white-space: nowrap !important;
    clip-path: inset(100%) !important;
    clip: rect(0 0 0 0) !important;
    overflow: hidden !important;
}

span.accent {
    color: var(--color-accent-dark);
}

.button {
    font-size: 22px;
    font-weight: 500;
    padding: 0.55em 1.1em;
    border-radius: 7px;
    border-width: 0;
    color: var(--color-font-dark);
    background-color: var(--color-accent-light);
    display: inline-flex;
    gap: 0.45em;
}

.button:hover {
    background-color: var(--color-accent-dark);
}

.button--arrowed::after {
    content: "";
    display: inline-block;
    background-image: url("./icon/arrow.svg");
    background-repeat: no-repeat;
    background-position: center;
    width: 1em;
    aspect-ratio: 1;
}

.container {
    padding-inline: 5vw;
}

.split {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 120px;
}

.split__content {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 32px;
}

.split__content.--max-width {
    max-width: 630px;
}

/* MAIN */

body {
    font-family: var(--font-family-base);
    font-weight: 400;
    color: var(--color-font-dark);
    background-color: var(--color-light);
    font-size: 20px;
    line-height: 1.6;
}

h1 {
    font-size: clamp(48px, 4.4vw, 80px);
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: 0;
}

h2 {
    font-size: clamp(32px, 3.83vw, 48px);
    line-height: 1.225;
}

.reviews__title,
h3 {
    font-size: 20px;
    font-weight: 600;
}

.header {
    color: var(--color-font-light);
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 19px;
}

.header__burger-button {
    padding-inline: 10px;
    display: none;
    flex-direction: column;
    justify-content: center;
    row-gap: 5px;
    width: 40px;
    aspect-ratio: 1;
    background-color: transparent;
    border-width: 0;
}

.header__burger-menu {
    display: flex;
    flex-direction: row;
    align-items: center;

}

.header__burger-button-line {
    display: inline-block;
    width: 30px;
    height: 3px;
    background-color: currentColor;
}

.header__logo {
    font-size: clamp(40px, 5.9vw, 64px);
    font-weight: 600;
    color: var(--color-font-light);
}

.header__menu-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2.8em;
}

.header__menu-link:hover {
    color: var(--color-font-light-accent);
}

.hero {
    color: var(--color-font-light);
    min-height: 100vh;
    background-color: var(--color-dark);
}

.hero__body {
    padding-top: 70px;
    padding-bottom: 150px;
}

.statistics__list {
    background-color: var(--color-light);
    display: flex;
    justify-content: space-around;
    box-shadow: var(--shadow);
    border-radius: 16px;
    min-height: clamp(170px, 20vw, 200px);
    position: relative;
    transform: translateY(-40%);
}

.statistics__item {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
}

.statistics__item-title {
    font-size: clamp(40px, 3vw, 48px);
    font-weight: 600;
}

.service {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 80px;
    background: linear-gradient(135deg,
            #FFFFFF 20%,
            rgba(28, 146, 255, 0.1) 100%);
}

.service__card-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
}

.service__card {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.service__card-title {
    margin-top: 36px;
    margin-bottom: 12px;
}

.download {
    color: var(--color-font-light);
    background-color: var(--color-dark);
    padding-top: 25px;
}

.download__list {
    grid-area: download;
    display: flex;
    flex-direction: row;
    align-items: start;
    gap: 40px;
}

.download__mockup-img {
    margin-top: -150px;
    box-shadow: var(--shadow);
}

.benefit {
    padding-block: 25px;
}

.benefit__content {
    gap: 16px;
}

.benefit__list {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.benefit__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 17px;
}

.benefit__item::before {
    content: "";
    display: inline-block;
    background-image: url("./icon/checkbox-true.svg");
    background-repeat: no-repeat;
    background-position: center;
    width: 1em;
    aspect-ratio: 1;
    border: solid 1.2px var(--color-accent-dark);
    border-radius: 90%;
    padding: 20px;
}

.reviews {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    /* TODO -block */
    padding-block: 40px;
    background: linear-gradient(135deg,
            #FFFFFF 20%,
            rgba(28, 146, 255, 0.1) 100%);
}

.reviews__slider-container {
    display: grid;
    gap: 40px;
    grid-template-areas: "prev slider next";
    align-items: center;
    justify-content: center;
    width: 100%;
}

.reviews__slider-button--prev {
    grid-area: prev;
}

.reviews__slider-button--next {
    grid-area: next;
}

.reviews__slider-button {
    border: none;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 100%;
    color: var(--color-accent-dark);
    position: relative;
    padding: 0;
}

.reviews__slider-button::after {
    content: "";
    position: absolute;
    width: 40px;
    aspect-ratio: 1;
    border-radius: 90%;
    border: solid 1.5px var(--color-accent-dark);
}

.reviews__slider-button--prev svg {
    transform: rotate(180deg);
}

.reviews__slider-button svg {
    color: currentColor;
}

.reviews__slider {
    --slides-space-between: 24px;
    --slide-width: 522px;
    --card-shadow-length: 12px;

    grid-area: slider;
    position: relative;
    padding: var(--card-shadow-length) !important;
    margin: calc(-1 * var(--card-shadow-length)) !important;
}

.reviews__slide {
    width: var(--slide-width) !important;
    height: auto !important;
}

.reviews__card {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 16px;
    background-color: var(--color-light);
    border-radius: 28px;
    box-shadow: 0 0 var(--card-shadow-length) var(--color-shadow);
    padding: 24px;
    height: 100%;
}

.reviews__card-text {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    --line-clamp: 4;
    -webkit-line-clamp: var(--line-clamp);
    line-clamp: var(--line-clamp);
    text-overflow: ellipsis;
}

.reviews__author {
    margin-top: auto;
    display: grid;
    align-items: center;
    gap: 10px;
    grid-template-columns: auto auto 1fr;
    grid-template-areas: "avatar info rating";
}

.reviews__card-title,
.reviews__author-name,
.reviews__author-location {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.reviews__author-avatar {
    grid-area: avatar;
    border-radius: 90%;
}

.reviews__author-name {
    font-weight: 600;
}

.reviews__author-info {
    grid-area: info;
    min-width: 0;
}

.reviews__rating {
    grid-area: rating;
    justify-self: end;
    white-space: nowrap;
}

.reviews__rating-star {
    fill: none;
    stroke: var(--color-accent-dark);
    stroke-width: 1.5;
}

.reviews__rating-star.--filled {
    fill: var(--color-accent-dark);
}

@media (max-width: 1919px) {
    .reviews__slider {
        --slides-per-view: 2;
    }
}

@media (max-width: 1365px) {
    .split {
        gap: 16px;
    }

    .split__img {
        max-width: 50%;
    }

    .hero {
        min-height: auto;
    }

    .header__menu {
        display: none;
    }

    .header__burger-button {
        display: flex;
    }

    .service {
        padding: 54px 40px;
    }

    .reviews__slider-container {
        grid-template-areas:
            "slider slider"
            "prev   next";
        gap: 20px 105px;
    }

    .reviews__slider-button--prev {
        justify-self: end;
    }

    .reviews__slider-button--next {
        justify-self: start;
    }
}

@media (max-width: 1199px) {
    .reviews__slider {
        --slides-per-view: 1;
    }
}

@media (max-width: 899px) {
    .split {
        flex-direction: column;
    }

    .split__img {
        max-width: 90%;
    }

    split__content.--max-width {
        max-width: 570px;
    }

    .hero__img {
        min-width: 336px;
    }

    .download__mockup-img {
        margin-top: auto;
        box-shadow: none;
    }
}

@media (max-width: 767px) {
    .service__card-list {
        grid-template-columns: repeat(1, 1fr);
    }

    .reviews__slider {
        --slide-width: 355px;
    }

    .reviews__card-text {
        --line-clamp: 5;
    }

    .reviews__author {
        grid-template-areas:
            "rating rating"
            "avatar info";
    }

    .reviews__rating {
        justify-self: auto;
    }
}

@media (max-width: 479px) {
    .statistics__list {
        flex-direction: column;
        gap: 32px;
        transform: translateY(-10%);
        padding-block: 32px;
    }

    .reviews {
        padding: 0;
    }

    .reviews__card-text {
        --line-clamp: 7;
    }
}

/* Popup Styles */
.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    opacity: 0;
    transition: opacity var(--transition-duration) ease, visibility var(--transition-duration) ease;
    z-index: 1000;
}

.popup-overlay.active {
    visibility: visible;
    opacity: 1;
}

.popup {
    background-color: var(--color-light);
    padding: 40px;
    border-radius: 16px;
    box-shadow: 0 5px 15px var(--color-shadow);
    position: relative;
    max-width: 500px;
    width: 90%;
    text-align: center;
}

.popup-close {
    position: absolute;
    top: 5px;
    right: 15px;
    background: none;
    border: none;
    font-size: 28px;
    cursor: pointer;
    color: var(--color-dark);
}

.popup-icon {
    color: var(--color-dark);
    filter: drop-shadow(0 0 6px var(--color-accent-light));
}

.popup-title {
    margin-bottom: 16px;
    font-size: 24px;
    font-weight: 600;
}

.popup-message {
    font-size: 18px;
}