@use "/shared/styles/resolutions.scss" as resolution;

.button {
    cursor: default;
    font-size: 22px;
    font-weight: 500;
    padding: 0.55em 1.1em;
    border-radius: 7px;
    border-width: 0;
    color: var(--color-font-dark);
    background-color: var(--color-accent-light);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 0.45em;
    transition-duration: var(--transition-duration);
}

.button:hover {
    background-color: var(--color-accent-dark);
}

.button--arrowed::after {
    content: "";
    display: inline-block;
    background-image: url("/icon/arrow.svg");
    background-repeat: no-repeat;
    background-position: center;
    width: 1em;
    aspect-ratio: 1;
}

@media (max-width: resolution.$big-tablet) {
    .button {
        font-size: 1em;
    }
}