.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    opacity: 0;
    transition: opacity var(--transition-duration) ease,
        visibility var(--transition-duration) ease;
    z-index: 1000;
}

.popup-overlay.active {
    visibility: visible;
    opacity: 1;
}

.popup {
    background-color: var(--color-light);
    padding: 40px;
    border-radius: 16px;
    box-shadow: 0 5px 15px var(--color-shadow);
    position: relative;
    max-width: 500px;
    width: 90%;
    text-align: center;
}

.popup-close {
    position: absolute;
    top: 5px;
    right: 15px;
    background: none;
    border: none;
    font-size: 28px;
    cursor: pointer;
    color: var(--color-dark);
}

.popup-icon {
    color: var(--color-dark);
    filter: drop-shadow(0 0 6px var(--color-accent-light));
}

.popup-title {
    margin-bottom: 16px;
    font-size: 24px;
    font-weight: 600;
}

.popup-message {
    font-size: 18px;
}