:root {
    --color-dark: #190422;
    --color-light: #ffffff;
    --color-accent-light: #d7b9fd;
    --color-accent-dark: #bc8afc;

    --color-shadow: rgba(0, 0, 0, 0.25);
    --color-font-light: #ffffff;
    --color-font-light-accent: #dcdcdc;
    --color-font-dark: #000000;

    --font-family-base: "Poppins", sans-serif;

    --shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

    --transition-duration: 0.2s;
}
