<header class="header container">
    <a href="#" class="header__logo logo">
        K<span class="accent">o</span>in
    </a>
    <button class="header__burger-button" aria-label="Open menu">
        <span class="header__burger-button-line"></span>
        <span class="header__burger-button-line"></span>
        <span class="header__burger-button-line"></span>
    </button>
    <nav class="header__menu">
        <button class="header__menu-close-button" aria-label="Close menu">&times;</button>
        <ul class="header__menu-list">
            <li class="header__menu-list-item">
                <a href="#" class="header__menu-list-item-link">Home</a>
            </li>
            <li class="header__menu-list-item">
                <a href="#" class="header__menu-list-item-link">About</a>
            </li>
            <li class="header__menu-list-item">
                <a href="#" class="header__menu-list-item-link">Payment</a>
            </li>
            <li class="header__menu-list-item">
                <a href="#" class="header__menu-list-item-link">Services</a>
            </li>
            <li class="header__menu-list-item">
                <a href="#" class="header__menu-list-item-link">Contact Us</a>
            </li>
            <li class="header__menu-list-item">
                <a href="#" class="header__button button">Sign in</a>
            </li>
        </ul>
    </nav>
</header>