<footer class="footer container">
    <a href="#" class="footer__logo logo">
        K<span class="accent">o</span>in
    </a>
    <nav class="footer__nav">
        <ul class="footer__nav-list">
            <li class="footer__nav-list-item">
                <a href="#" class="footer__nav-list-item-link">FAQ’s</a>
            </li>
            <li class="footer__nav-list-item">
                <a href="#" class="footer__nav-list-item-link">Contact us</a>
            </li>
            <li class="footer__nav-list-item">
                <a href="#" class="footer__nav-list-item-link">Terms & conditions</a>
            </li>
            <li class="footer__nav-list-item">
                <a href="#" class="footer__nav-list-item-link">Privacy Policy</a>
            </li>
        </ul>
    </nav>
    <div class="footer__socials">
        <a href="#" class="footer__socials-link" aria-label="link to instagram">
            <img src="./icon/socials/instagram.svg" alt="instagram icon" class="footer__socials-link-img" width="30"
                height="30">
        </a>
        <a href="#" class="footer__socials-link" aria-label="link to facebook">
            <img src="./icon/socials/facebook.svg" alt="facebook icon" class="footer__socials-link-img" width="30"
                height="30">
        </a>
        <a href="#" class="footer__socials-link" aria-label="link to twitter">
            <img src="./icon/socials/twitter.svg" alt="twitter icon" class="footer__socials-link-img" width="30" height="30
            ">
        </a>
        <a href="#" class="footer__socials-link" aria-label="link to linkedin">
            <img src="./icon/socials/linkedin.svg" alt="linkedin icon" class="footer__socials-link-img" width="30" height="30
            ">
        </a>
    </div>
    <div class="footer__subscribe">
        <h3 class="footer__subscribe-title">Join our mailing list</h3>
        <form class="footer__subscribe-form">
            <label for="email" class="visually-hidden">Enter your Email</label>
            <input type="email" class="footer__subscribe-form-email" id="email" placeholder="Enter your Email" required>
            <button type="submit" class="footer__subscribe-form-button button">Send</button>
        </form>
    </div>

    <div class="footer__download">
        <ul class="footer__list download-links">
            <li class="footer__list-item download-links__item">
                <a href="#" class="footer__list-item-link download-links__item-link">
                    <img src="./icon/download/google-play.svg" alt="link to google play"
                        class="footer__list-item-link-img download-links__item-link-img" width="190" height="60">
                </a>
            </li>
            <li class="footer__list-item download-links__item">
                <a href="#" class="footer__list-item-link download-links__item-link">
                    <img src="./icon/download/app-store.svg" alt="link to app store"
                        class="footer__list-item-link-img download-links__item-link-img" width="204" height="60">
                </a>
            </li>
        </ul>
    </div>
</footer>