@use "/shared/styles/resolutions.scss" as resolution;

.service {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 80px 80px 10vw;
    background: linear-gradient(
        135deg,
        #ffffff 20%,
        rgba(28, 146, 255, 0.1) 100%
    );

    &__card-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
    }

    &__card {
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    &__card-title {
        margin-top: 36px;
        margin-bottom: 12px;
    }
}

@media (max-width: resolution.$hd) {
    .service {
        padding: 54px 40px 10vw;
    }
}

@media (max-width: resolution.$tablet) {
    .service__card-list {
        grid-template-columns: repeat(1, 1fr);
    }
}
